.registration{
	    text-align: center;
		margin-bottom:25px;
}

.rowRegistrationAgreement{
	margin-top:25px;
}

.agreementContent{
	text-align: justify;
    margin: 0px 30px 30px 30px;
	
}