.rankingBtn{
	text-align:center;	
}

.rankingImg{
	opacity: 0.2;
    margin-top: 10px;
    margin-bottom: 10px;
	
}

.rankingImg1{
	
	opacity:0.2;
}

.rankingDivImg1{
	text-align:center;
	margin-top:25px;
}